Plugin_PotatoVoiceHub/BouyomiChan.exe
Plugin_PotatoVoiceHub/obj/
PotatoVoiceHub/obj/
Plugin_PotatoVoiceHub/bin/
PotatoVoiceHub/bin/
*.suo
PotatoVoiceHub/.vs/
.vs/
*.user
VoiceroidTalkPlusReceiverHub/bin/
VoiceroidTalkPlusReceiverHub/obj/
